/*card.component.css*/

.dashboard-card {
  background-color: #191919;

  //position: absolute;
  //top: 15px;
  //left: 15px;
  //right: 15px;
  //bottom: 15px;
}

.dashboard-card-content {
  border: 1px solid red;
}
mat-card {
  border: 1px solid green;
  // height: 100%;
}
