<div class="main-cards">
  <app-card title="{{ mainChartTitle }}" class="card1">
    <app-chart
      chartID="main"
      [daysBack]="7"
      [currentDay]="true"
      [aspectRatio]="3"
    ></app-chart>
  </app-card>

  <div class="column">
    <app-card class="card2" title="{{ chartPreviousDayTitle }}">
      <app-chart
        chartID="previous"
        [daysBack]="1"
        [currentDay]="false"
        [aspectRatio]="2"
      ></app-chart>
    </app-card>

    <app-card class="card3" title=" {{ chartCurrentDayTitle }}">
      <app-chart
        chartID="current"
        [daysBack]="0"
        [currentDay]="true"
        [aspectRatio]="2"
      ></app-chart>
    </app-card>
  </div>

  <app-card title="Weekly Comparison Unique Users 24h" class="card4">
    <app-comp-chart
      chartID="comp"
      dataType="users"
      [daysBack]="7"
      [currentDay]="true"
      [aspectRatio]="2.5"
    ></app-comp-chart>
  </app-card>

  <app-card title="Weekly Comparison Network Usage 24h" class="card5">
    <app-comp-chart
      chartID="net-comp"
      dataType="network"
      [daysBack]="7"
      [currentDay]="true"
      [aspectRatio]="2.5"
    ></app-comp-chart>
  </app-card>

  <app-card title="Heatmap Last 7 days" class="card6">
    <app-heatmap></app-heatmap
  ></app-card>
</div>

<!--  -->
