.main-cards {
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    124deg,
    rgba(208, 27, 108, 1) 0%,
    rgba(243, 130, 32, 1) 14%,
    rgba(83, 44, 124, 1) 100%
  );
}

.card1 {
  padding: 16px;
}

.column {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  //padding-right: 4rem;
}

.card2 {
  padding-left: 16px;
  width: 48vw;
}
.card3 {
  padding-right: 16px;
}
