.main-cards {
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    124deg,
    rgba(208, 27, 108, 1) 0%,
    rgba(243, 130, 32, 1) 14%,
    rgba(83, 44, 124, 1) 100%
  );
}

.card1 {
  border: 1px solid yellow;
  padding: 16px;
}

.column {
  border: 1px solid yellow;
  width: 100%;

  display: flex;
  justify-content: space-between;
  //padding-right: 4rem;
}

.card2 {
  border: 1px solid yellow;
  padding-left: 16px;
  width: 47vw;
}
.card3 {
  border: 1px solid yellow;
  padding-right: 16px;
  width: 47vw;
}

.card4 {
  border: 1px solid yellow;
  padding: 16px;
}

.card5 {
  border: 1px solid yellow;
  padding: 0 16px 0px 16px;
}
