.chart-container {
  //border: 1px solid green;
  /*   display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;*/
}

canvas {
  //border: 1px solid blue;
  //height: 400px !important;
  width: 100% !important;
}
