// maincolors
$g-clr-font-inputs-100: #9d00ff;

$g-clr-dark-100: black;
$g-clr-dark-200: #171816;
$g-clr-dark-400: #26272b;
$g-clr-dark-600: #737373;

$header-logo-width-100: 2.5rem;
$header-logo-width-200: 4rem;

// footer variables
$footer-txt-a: $g-clr-dark-600;
$footer-txt-a-hover: #3366cc;
