@use "/src/assets/scss/variables.scss" as *;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
}
.header {
}
.content {
}

.footer {
  display: flex;
  justify-content: center;
  background-color: $g-clr-dark-200;
  width: 100%;
}
